.header{
    @extend %header;
}

// start advertise section 
.advertise{
    &:after{
        @include midclouds(Mid Cloud,280px);
    }
    @extend %section-reset;
    .advertise-img,
    .advertise-info{
        width:50%;
        float: $float-left;
    }
    
    .advertise-info{
        text-align: left;
        h2{
            @extend %main-heading;
            font-size: 35px;
            color:#2c4755;
            span{
                font-size: 28px;
                display: inline-block;
                @include fontWeight(normal);
                
                
            }
        }
        p{
            @extend %main-pragraph;
            margin: 25px;
        }
        ul{
            @extend %list-unstyled;
            li{
                font-size: 15px;
                color: #2c4755;
                margin-bottom: 10px;
                @include fontWeight(bold);
                i{
                    color:#3bd825;
                    margin:0 15px;
                }
            }
        }
    }
    .ad-two{
        width: 34%;
        margin-left: 16%;
        p{
            width:100%;
            margin-left: 0;
        }
    }
}
// end advertise section

// start custome plans 
.custome-plans{
    @extend %section-reset;
    h3{
        @extend %main-heading;
    }
    p{
        @extend %main-pragraph;
    }
    button{
        @extend %main-button;
        width:120px;
        height: 40px;
    }
}
// end custome plans

// start why we
.why-we{
    @extend %what-we;
}

// end why we